body{
font-family: calibri;
}
div#header{
background-color:yellow;
border-bottom: 1px #000 solid;
width:902px;
}
div#main{
background: url(background.jpg);
background-repeat: repeat-y;
padding-left: 49px;
margin-top:-8px;
margin-bottom:-8px;
max-width:1000px;
}
div#sidebar{
overflow:auto;
padding-left:5px;
background-color:orange;
border-right: 1px #000 solid;
width:175px;
min-height:500px;
float:left;
}
div#body{
overflow:auto;
padding-left:5px;
background-color:#eeeeee;
width:716px;
min-height:500px;
float:left;
}
div#footer{
clear:both;
font-size: 10pt;
text-align:center;
line-height:50px;
color:#fff;
width:902px;
height:50px;
background-color:#000;
}
a{
color: #25af00; 
text-transform: normal;
}
