body{
font-family: calibri;
}
div#header{
background-color:#ABC550;
border-bottom: 0px #000 solid;
width:902px;
}
div#main{
background: url(background.jpg);
background-repeat: repeat-y;
padding-left: 49px;
margin-top:-8px;
margin-bottom:-8px;
max-width:1000px;
}
div#sidebar{
overflow:auto;
padding-top:7px;
padding-left:5px;

border-right: 0px #000 solid;
width:175px;
min-height:500px;
float:left;
}
div#body{
overflow:auto;
padding-top:7px;
padding-left:5px;
background-color:#fff;
width:716px;
min-height:500px;
float:left;
}
div#footer{
clear:both;
font-size: 10pt;
text-align:center;
line-height:50px;
color:#fff;
width:902px;
height:50px;
background-color:#000;
}
div#body a{
color: #25af00; 
}
div#sidebar a{
color: #666; 
}
table#events{
border-spacing:2px;
border-width:0px;
}
table#events th{
background-color:#ccc;
border-width:0px;
}
table#events td{
background-color:#eee;
border-width:0px;
padding: 7px;
}
span#eventName{
color: #555;
font-size: 16pt;
}
span#eventDate{
font-size: 9pt;
color: #222;
}
span#eventVenue{
font-size: 9pt;
color: #666;
}
span#eventDetails{
font-size: 12pt;
}